openapi: 3.0.1
info:
  title: Steampipe Cloud
  description: "Interrogate your CloudOps data with the simplicity and power of SQL, then share your discoveries using Steampipe Cloud."
  contact:
    name: Support
    email: help@steampipe.io
  version: "1.0"
servers:
  - url: "https://cloud.steampipe.io/api/v1"
paths:
  /actor:
    get:
      tags:
        - Users
      summary: Actor information
      description: Returns the actor information.
      operationId: get-actor
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.User"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /actor/activity:
    get:
      tags:
        - Users
      summary: List actor activity
      description: List the activity for an actor.
      operationId: list-actor-activities
      parameters:
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListAuditLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /actor/conn:
    get:
      tags:
        - UserConnections
      summary: List actor connections
      description: List the connections for an actor.
      operationId: list-actor-connections
      parameters:
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListConnectionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /actor/workspace:
    get:
      tags:
        - UserWorkspaces
      summary: List actor workspaces
      description: List the workspace for an actor.
      operationId: list-actor-workspaces
      parameters:
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListWorkspacesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/auth/{provider}":
    get:
      tags:
        - Users
      summary: Auth Provider
      description: "With an authentication provider, users can access Steampipe Cloud with single sign-on (SSO) using credentials from a third party. Steampipe Cloud currently supports GitHub as an authentication provider."
      operationId: auth-provider
      parameters:
        - name: provider
          in: path
          description: The authentication provider.
          required: true
          schema:
            type: string
      responses:
        "307":
          description: ""
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/auth/{provider}/callback":
    get:
      tags:
        - Users
      summary: Auth provider callback
      description: Auth provider callback.
      operationId: auth-provider-callback
      parameters:
        - name: provider
          in: path
          description: The authentication provider.
          required: true
          schema:
            type: string
      responses:
        "307":
          description: ""
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /identity/search:
    get:
      tags:
        - Users
      summary: Search identity
      description: Search identity handle name.
      operationId: user-search
      parameters:
        - name: q
          in: query
          description: Specify the search string.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.SearchIdentitiesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /login:
    post:
      tags:
        - Users
      summary: User login
      description: User login.
      operationId: user-login
      requestBody:
        description: The request body to login.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UserLoginRequest"
        required: true
      responses:
        "201":
          description: ""
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  /login/confirm:
    get:
      tags:
        - Users
      summary: Confirm user login
      description: Confirm user login.
      operationId: user-login-confirm
      parameters:
        - name: t
          in: query
          description: Specify the token.
          required: true
          schema:
            type: string
      responses:
        "201":
          description: ""
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/logout/{provider}":
    get:
      tags:
        - Users
      summary: User logout
      description: Removes the session that is associated with the user.
      operationId: user-logout
      parameters:
        - name: provider
          in: path
          description: The authentication provider.
          required: true
          schema:
            type: string
      responses:
        "307":
          description: ""
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /org:
    get:
      tags:
        - Orgs
      summary: List orgs
      description: List all the organizations.
      operationId: list-orgs
      parameters:
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListOrgsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - Orgs
      summary: Create org
      description: Creates an organization.
      operationId: create-org
      requestBody:
        description: The request body to create the organization.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.CreateOrgRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Org"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}":
    get:
      tags:
        - Orgs
      summary: Get org
      description: Retrives the organization information.
      operationId: get-org
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of an organization whose information you want to retrive.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Org"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - Orgs
      summary: Delete org
      description: Deletes the specified organization if you have the appropriate access.
      operationId: delete-org
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of the organization which need to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Org"
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    patch:
      tags:
        - Orgs
      summary: Update org
      description: "Updates the handle name, display name or the URl of the organization."
      operationId: update-org
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of the organization which need to be updated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body for the organization.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UpdateOrgRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Org"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/audit":
    get:
      tags:
        - Orgs
      summary: Org audit logs
      description: Returns the audit logs for an org.
      operationId: list-org-audit-logs
      parameters:
        - name: org_handle
          in: path
          description: Specify the org handle to get the audit logs.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListAuditLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/conn":
    get:
      tags:
        - OrgConnections
      summary: List org connections
      description: "List the connection for an organization. The action supports list pagination and does not return more than 50 connections at a time.If there are more connections to list, then there is a value in next_token. You can use the next_token value to continue the pagination of the list by passing the value in next_token in the request to get the next page."
      operationId: list-org-connections
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization for which we want to list the connections.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListConnectionsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - OrgConnections
      summary: Create org connection
      description: "Creates a new connection for an organization. The limit is 10 per organization. If you require more than 10, you must contact support to request an increase."
      operationId: create-org-connection
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where we want to create the connection.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body for the connection to be created.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.CreateConnectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Connection"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/conn/{conn_handle}":
    get:
      tags:
        - OrgConnections
      summary: Get org connection
      description: Get the details for a connection.
      operationId: get-org-connection
      parameters:
        - name: org_handle
          in: path
          description: The handle of an organization where the connection exists.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: conn_handle
          in: path
          description: The handle of the connection whose detail needs to be fetched.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Connection"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - OrgConnections
      summary: Delete org connection
      description: Deletes the connection specified in the request.
      operationId: delete-org-connection
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where the connection exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: conn_handle
          in: path
          description: Provide the handle of the connection which needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Connection"
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    patch:
      tags:
        - OrgConnections
      summary: Update org connection
      description: Update the connection in an organization.
      operationId: update-org-connection
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where the connection exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: conn_handle
          in: path
          description: The handle of the connection which needs to be updated.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      requestBody:
        description: The request body of the connection which needs to be updated.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UpdateConnectionRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Connection"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/conn/{conn_handle}/test":
    post:
      tags:
        - OrgConnections
      summary: Test org connection
      description: Test the config for an org connection to check for basic connectivity before you create it.
      operationId: test-org-connection
      parameters:
        - name: org_handle
          in: path
          description: The handle of the org performing the action.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: conn_handle
          in: path
          description: "The handle of the connection to be tested. For connections that are not yet created, use underscore `_` as the handle, else pass the handle of the existing connection."
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ConnectionTestResult"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/member":
    get:
      tags:
        - OrgMembers
      summary: List accepted org members
      description: List all the members who has accepted the request.
      operationId: list-accepted-org-members
      parameters:
        - name: org_handle
          in: path
          description: Specify the organization handle.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListOrgUsersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/member/invite":
    get:
      tags:
        - OrgMembers
      summary: List invited org members
      description: List all the members who has been invited to the org.
      operationId: list-invited-org-members
      parameters:
        - name: org_handle
          in: path
          description: Specify the organization handle.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListOrgUsersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - OrgMembers
      summary: Invite org member
      description: Invite member to an org.
      operationId: invite-org-member
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of an organization where the member need to be invited.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body to invite a member to an organization.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.InviteOrgUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.OrgUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
    delete:
      tags:
        - OrgMembers
      summary: Delete org member invite
      description: Delete the org member invite.
      operationId: delete-org-member-invite
      parameters:
        - name: org_handle
          in: path
          description: Specify the organization handle.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: t
          in: query
          description: Specify the token to be rejected.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content: {}
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/member/invite/confirm":
    get:
      tags:
        - OrgMembers
      summary: Confirm org member invite
      description: Confirm org member invite.
      operationId: confirm-org-member-invite
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of an organization where the member need to be invited.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: t
          in: query
          description: Specify the token.
          required: true
          schema:
            type: string
      responses:
        "201":
          description: ""
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/member/{user_handle}":
    get:
      tags:
        - OrgMembers
      summary: Get org member
      description: Get org member.
      operationId: get-org-member
      parameters:
        - name: org_handle
          in: path
          description: Specify the organization handle where the member is associated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: user_handle
          in: path
          description: Specify the handle of the user whose information you want to retrive.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.OrgUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - OrgMembers
      summary: Delete org member
      description: Delete the user from the org.
      operationId: delete-org-member
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of the organization where the member exists.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: user_handle
          in: path
          description: Specify the handle of the user which need to be removed.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.OrgUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    patch:
      tags:
        - OrgMembers
      summary: Update org member
      description: Update the role of the member.
      operationId: update-org-member
      parameters:
        - name: org_handle
          in: path
          description: Specify the handle of the organization where the member exists.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: user_handle
          in: path
          description: Specify the handle of the user whose role need to be updated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body for the member.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UpdateOrgUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.OrgUser"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/quota":
    get:
      tags:
        - Orgs
      summary: Org quota
      description: Returns the quota information for an org.
      operationId: org-quota
      parameters:
        - name: org_handle
          in: path
          description: Specify the org handle to get the quota details.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.OrgQuota"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/workspace":
    get:
      tags:
        - OrgWorkspaces
      summary: List org workspaces
      description: "List the workspace for an organization. The action supports list pagination and does not return more than 50 workspaces at a time.If there are more workspaces to list, then there is a value in next_token. You can use the next_token value to continue the pagination of the list by passing the value in next_token in the request to get the next page."
      operationId: list-org-workspaces
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization for which we want to list the workspace.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListWorkspacesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - OrgWorkspaces
      summary: Create org workspace
      description: "Creates a new workspace for an organization. The limit is 10 per organization. If you require more than 10, you must contact support to request an increase."
      operationId: create-org-workspace
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where we want to create the workspace.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body for the workspace to be created.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.CreateWorkspaceRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Workspace"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/workspace/{workspace_handle}":
    get:
      tags:
        - OrgWorkspaces
      summary: Get org workspace
      description: Get the details for a workspace in an organization.
      operationId: get-org-workspace
      parameters:
        - name: org_handle
          in: path
          description: The handle for an organization where the workspace exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace whose detail needs to be fetched.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Workspace"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - OrgWorkspaces
      summary: Delete org workspace
      description: Deletes the workspace specified in the request.
      operationId: delete-org-workspace
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where the workspace exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: Provide the handle of the workspace which needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Workspace"
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    patch:
      tags:
        - OrgWorkspaces
      summary: Update org workspace
      description: Update a workspace in an organization.
      operationId: update-org-workspace
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where the workspace exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace which needs to be updated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
      requestBody:
        description: The request body of the workspace which needs to be updated.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UpdateWorkspaceRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.Workspace"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/workspace/{workspace_handle}/audit":
    get:
      tags:
        - Orgs
      summary: Org workspace audit logs
      description: Returns the audit logs for an org workspace.
      operationId: list-org-workspace-audit-logs
      parameters:
        - name: org_handle
          in: path
          description: Specify the org handle to get the audit logs.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace whose logs needs to be fetched.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListAuditLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/workspace/{workspace_handle}/conn":
    get:
      tags:
        - OrgWorkspaceConnectionAssociations
      summary: List org workspace connection associations
      description: List the connections associated with a workspace.
      operationId: list-org-workspace-connection-associations
      parameters:
        - name: org_handle
          in: path
          description: The handle of an organization for which you want to list the associations.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace where you want to list the associations.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListWorkspaceConnResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - OrgWorkspaceConnectionAssociations
      summary: Create org workspace connection association
      description: Associate a connection with the workspace. A workspace can have multiple association.
      operationId: create-org-workspace-connection-association
      parameters:
        - name: org_handle
          in: path
          description: The handle of the organization where we want to create an association.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace where the connection will be associated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
      requestBody:
        description: The request body for the association to be created.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.CreateWorkspaceConnRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.WorkspaceConn"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/org/{org_handle}/workspace/{workspace_handle}/conn/{conn_handle}":
    get:
      tags:
        - OrgWorkspaceConnectionAssociations
      summary: Get org workspace connection association
      description: Get the details for a workspace and connection association on an organization.
      operationId: get-org-workspace-connection-association
      parameters:
        - name: org_handle
          in: path
          description: The handle of the org for which you want to get the association.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace where the connection exist.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
        - name: conn_handle
          in: path
          description: The handle of the conn whose association details needs to be fetched.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.WorkspaceConn"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - OrgWorkspaceConnectionAssociations
      summary: Delete org workspace connection association
      description: Deletes the workspace association with the connection.
      operationId: delete-org-workspace-connection-association
      parameters:
        - name: org_handle
          in: path
          description: The handle of an organization where we want to delete the association.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace whose association needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
        - name: conn_handle
          in: path
          description: The handle of the conn whose association needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.WorkspaceConn"
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/workspace/{workspace_handle}/conn/{conn_handle}/test":
    get:
      tags:
        - OrgWorkspaceConnectionAssociations
      summary: Test org workspace connection
      description: Test an org connection associated with a workspace to ensure that its config works with common plugin queries.
      operationId: test-org-workspace-connection-association
      parameters:
        - name: org_handle
          in: path
          description: The handle of an organization where we want to delete the association.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace whose association needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
        - name: conn_handle
          in: path
          description: The handle of the conn whose association needs to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z][a-z0-9_]{0,37}[a-z0-9]?$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ConnectionTestResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/org/{org_handle}/workspace/{workspace_handle}/logs":
    get:
      tags:
        - Orgs
      summary: Org workspace logs
      description: Returns the workspace logs for an org.
      operationId: list-org-workspace-logs
      parameters:
        - name: org_handle
          in: path
          description: Specify the org handle to get the workspace logs.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: workspace_handle
          in: path
          description: The handle of the workspace whose logs needs to be fetched.
          required: true
          schema:
            type: string
            format: "^[a-z0-9]{1,23}$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /signup:
    post:
      tags:
        - Users
      summary: User signup
      description: New user signup.
      operationId: user-signup
      requestBody:
        description: The request body to signup.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UserSignupRequest"
        required: true
      responses:
        "201":
          description: ""
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  /signup/confirm:
    get:
      tags:
        - Users
      summary: Confirm user signup
      description: Confirm user signup.
      operationId: user-signup-confirm
      parameters:
        - name: t
          in: query
          description: Specify the token.
          required: true
          schema:
            type: string
      responses:
        "201":
          description: ""
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  /user:
    get:
      tags:
        - Users
      summary: List users
      description: List the users.
      operationId: list-users
      parameters:
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListUsersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    post:
      tags:
        - Users
      summary: Create user
      description: Creates a new user.
      operationId: create-user
      requestBody:
        description: The request body to create the user.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.CreateUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.User"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  /user/search:
    get:
      tags:
        - Users
      summary: Search users
      description: Search users and lists the ones that meet the filter criteria.
      operationId: search-users
      parameters:
        - name: q
          in: query
          description: Specify the search string.
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.SearchUsersResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
  "/user/{user_handle}":
    get:
      tags:
        - Users
      summary: Get user
      description: Retrives information of the specified user.
      operationId: get-user
      parameters:
        - name: user_handle
          in: path
          description: Specify the handle of the user whose information you want to retrive.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.User"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    delete:
      tags:
        - Users
      summary: Delete user
      description: Deletes the specified user.
      operationId: delete-user
      parameters:
        - name: user_handle
          in: path
          description: Specify the handle of the user which need to be deleted.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.User"
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
    patch:
      tags:
        - Users
      summary: Update user
      description: "Updates the handle name, display name or the URl of the user."
      operationId: update-user
      parameters:
        - name: user_handle
          in: path
          description: Specify the handle of the user which need to be updated.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
      requestBody:
        description: The request body for the user.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/types.UpdateUserRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.User"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "402":
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
      x-codegen-request-body-name: request
  "/user/{user_handle}/audit":
    get:
      tags:
        - Users
      summary: User audit logs
      description: Returns the audit logs for a user.
      operationId: list-user-audit-logs
      parameters:
        - name: user_handle
          in: path
          description: Specify the user handle to get the audit logs.
          required: true
          schema:
            type: string
            format: "^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$"
        - name: limit
          in: query
          description: Pagination limit
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 20
        - name: next_token
          in: query
          description: "An optional token returned from a prior request. When a list is truncated this element specifies the last part of the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/types.ListAuditLogsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sperr.ErrorModel"
        "401":
          description: Unauthorized
          content:
[...]
