openapi: 3.0.1
info:
  contact:
    email: help@steampipe.io
    name: Support
  description: Interrogate your CloudOps data with the simplicity and power of SQL,
    then share your discoveries using Steampipe Cloud.
  title: Steampipe Cloud
  version: "1.0"
servers:
- url: https://cloud.steampipe.io/api/v1
paths:
  /actor:
    get:
      description: Returns the actor information.
      operationId: actor_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.User'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Actor information
      tags:
      - Actors
  /actor/activity:
    get:
      description: List the activity for an actor.
      operationId: actor_listActivity
      parameters:
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List actor activity
      tags:
      - Actors
  /actor/conn:
    get:
      description: List the connections for an actor.
      operationId: actor_listConnections
      parameters:
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List actor connections
      tags:
      - Actors
  /actor/workspace:
    get:
      description: List the workspace for an actor.
      operationId: actor_listWorkspaces
      parameters:
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListWorkspacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List actor workspaces
      tags:
      - Actors
  /auth/{provider}:
    get:
      description: With an authentication provider, users can access Steampipe Cloud
        with single sign-on (SSO) using credentials from a third party. Steampipe
        Cloud currently supports GitHub as an authentication provider.
      operationId: auth_provider
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Auth Provider
      tags:
      - Auth
  /auth/{provider}/callback:
    get:
      description: Auth provider callback.
      operationId: auth_providerCallback
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Auth provider callback
      tags:
      - Auth
  /identity/search:
    get:
      description: Search identity handle name.
      operationId: identity_search
      parameters:
      - description: Specify the search string.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.SearchIdentitiesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Search identity
      tags:
      - Identities
  /login:
    post:
      description: User login.
      operationId: auth_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UserLoginRequest'
        description: The request body to login.
        required: true
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: User login
      tags:
      - Auth
      x-codegen-request-body-name: request
  /login/confirm:
    get:
      description: Confirm user login.
      operationId: auth_confirmLogin
      parameters:
      - description: Specify the token.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Confirm user login
      tags:
      - Auth
  /logout/{provider}:
    get:
      description: Removes the session that is associated with the user.
      operationId: auth_logout
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: User logout
      tags:
      - Auth
  /org:
    get:
      description: List all the organizations.
      operationId: org_list
      parameters:
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When a list is truncated this element specifies the last part
          of the list, as well as the value to use for the part-number-marker request
          parameter in a subsequent request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List orgs
      tags:
      - Orgs
    post:
      description: Creates an organization.
      operationId: org_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateOrgRequest'
        description: The request body to create the organization.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Org'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Create org
      tags:
      - Orgs
      x-codegen-request-body-name: request
  /org/{org_handle}:
    delete:
      description: Deletes the specified organization if you have the appropriate
        access.
      operationId: org_delete
      parameters:
      - description: Specify the handle of the organization which need to be deleted.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Org'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org
      tags:
      - Orgs
    get:
      description: Retrieves the organization information.
      operationId: org_get
      parameters:
      - description: Specify the handle of an organization whose information you want
          to retrive.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Org'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Get org
      tags:
      - Orgs
    patch:
      description: Updates the handle name, display name or the URl of the organization.
      operationId: org_update
      parameters:
      - description: Specify the handle of the organization which need to be updated.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateOrgRequest'
        description: The request body for the organization.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Org'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Update org
      tags:
      - Orgs
      x-codegen-request-body-name: request
  /org/{org_handle}/audit:
    get:
      description: Returns the audit logs for an org.
      operationId: orgAudit_listAuditLogs
      parameters:
      - description: Specify the org handle to get the audit logs.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Org audit logs
      tags:
      - Orgs
  /org/{org_handle}/conn:
    get:
      description: List the connection for an organization. The action supports list
        pagination and does not return more than 50 connections at a time.If there
        are more connections to list, then there is a value in next_token. You can
        use the next_token value to continue the pagination of the list by passing
        the value in next_token in the request to get the next page.
      operationId: orgConnection_list
      parameters:
      - description: The handle of the organization for which we want to list the
          connections.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When a list is truncated this element specifies the last part
          of the list, as well as the value to use for the part-number-marker request
          parameter in a subsequent request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List org connections
      tags:
      - OrgConnections
    post:
      description: Creates a new connection for an organization. The limit is 10 per
        organization. If you require more than 10, you must contact support to request
        an increase.
      operationId: orgConnection_create
      parameters:
      - description: The handle of the organization where we want to create the connection.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateConnectionRequest'
        description: The request body for the connection to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Create org connection
      tags:
      - OrgConnections
      x-codegen-request-body-name: request
  /org/{org_handle}/conn/{conn_handle}:
    delete:
      description: Deletes the connection specified in the request.
      operationId: orgConnection_delete
      parameters:
      - description: The handle of the organization where the connection exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Provide the handle of the connection which needs to be deleted.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Connection'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org connection
      tags:
      - OrgConnections
    get:
      description: Get the details for a connection.
      operationId: orgConnection_get
      parameters:
      - description: The handle of an organization where the connection exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection whose detail needs to be fetched.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Get org connection
      tags:
      - OrgConnections
    patch:
      description: Update the connection in an organization.
      operationId: orgConnection_update
      parameters:
      - description: The handle of the organization where the connection exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection which needs to be updated.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateConnectionRequest'
        description: The request body of the connection which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Update org connection
      tags:
      - OrgConnections
      x-codegen-request-body-name: request
  /org/{org_handle}/conn/{conn_handle}/test:
    post:
      description: Test the config for an org connection to check for basic connectivity
        before you create it.
      operationId: orgConnection_test
      parameters:
      - description: The handle of the org performing the action.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection to be tested. For connections that
          are not yet created, use underscore `_` as the handle, else pass the handle
          of the existing connection.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ConnectionTestResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Test org connection
      tags:
      - OrgConnections
  /org/{org_handle}/member:
    get:
      description: List all the members who has accepted the request.
      operationId: orgMember_listAccepted
      parameters:
      - description: Specify the organization handle.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListOrgUsersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List accepted org members
      tags:
      - OrgMembers
  /org/{org_handle}/member/invite:
    delete:
      description: Delete the org member invite.
      operationId: orgMember_deleteInvite
      parameters:
      - description: Specify the organization handle.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the token to be rejected.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org member invite
      tags:
      - OrgMembers
    get:
      description: List all the members who has been invited to the org.
      operationId: orgMember_listInvited
      parameters:
      - description: Specify the organization handle.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListOrgUsersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List invited org members
      tags:
      - OrgMembers
    post:
      description: Invite member to an org.
      operationId: orgMember_invite
      parameters:
      - description: Specify the handle of an organization where the member need to
          be invited.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.InviteOrgUserRequest'
        description: The request body to invite a member to an organization.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Invite org member
      tags:
      - OrgMembers
      x-codegen-request-body-name: request
  /org/{org_handle}/member/invite/confirm:
    get:
      description: Confirm org member invite.
      operationId: orgMember_confirmInvite
      parameters:
      - description: Specify the handle of an organization where the member need to
          be invited.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the token.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Confirm org member invite
      tags:
      - OrgMembers
  /org/{org_handle}/member/{user_handle}:
    delete:
      description: Delete the user from the org.
      operationId: orgMember_delete
      parameters:
      - description: Specify the handle of the organization where the member exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user which need to be removed.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org member
      tags:
      - OrgMembers
    get:
      description: Get org member.
      operationId: orgMember_get
      parameters:
      - description: Specify the organization handle where the member is associated.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user whose information you want to
          retrive.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Get org member
      tags:
      - OrgMembers
    patch:
      description: Update the role of the member.
      operationId: orgMember_update
      parameters:
      - description: Specify the handle of the organization where the member exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user whose role need to be updated.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateOrgUserRequest'
        description: The request body for the member.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Update org member
      tags:
      - OrgMembers
      x-codegen-request-body-name: request
  /org/{org_handle}/quota:
    get:
      description: Returns the quota information for an org.
      operationId: org_getQuota
      parameters:
      - description: Specify the org handle to get the quota details.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.OrgQuota'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Org quota
      tags:
      - Orgs
  /org/{org_handle}/workspace:
    get:
      description: List the workspace for an organization. The action supports list
        pagination and does not return more than 50 workspaces at a time.If there
        are more workspaces to list, then there is a value in next_token. You can
        use the next_token value to continue the pagination of the list by passing
        the value in next_token in the request to get the next page.
      operationId: orgWorkspace_list
      parameters:
      - description: The handle of the organization for which we want to list the
          workspace.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When a list is truncated this element specifies the last part
          of the list, as well as the value to use for the part-number-marker request
          parameter in a subsequent request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListWorkspacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List org workspaces
      tags:
      - OrgWorkspaces
    post:
      description: Creates a new workspace for an organization. The limit is 10 per
        organization. If you require more than 10, you must contact support to request
        an increase.
      operationId: orgWorkspace_create
      parameters:
      - description: The handle of the organization where we want to create the workspace.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateWorkspaceRequest'
        description: The request body for the workspace to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Workspace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Create org workspace
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}:
    delete:
      description: Deletes the workspace specified in the request.
      operationId: orgWorkspace_delete
      parameters:
      - description: The handle of the organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Provide the handle of the workspace which needs to be deleted.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Workspace'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org workspace
      tags:
      - OrgWorkspaces
    get:
      description: Get the details for a workspace in an organization.
      operationId: orgWorkspace_get
      parameters:
      - description: The handle for an organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose detail needs to be fetched.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Workspace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Get org workspace
      tags:
      - OrgWorkspaces
    patch:
      description: Update a workspace in an organization.
      operationId: orgWorkspace_update
      parameters:
      - description: The handle of the organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace which needs to be updated.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.UpdateWorkspaceRequest'
        description: The request body of the workspace which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.Workspace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Update org workspace
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}/audit:
    get:
      description: Returns the audit logs for an org workspace.
      operationId: orgAudit_listWorkspaceAuditLogs
      parameters:
      - description: Specify the org handle to get the audit logs.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose logs needs to be fetched.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: An optional token returned from a prior request. When a list
          is truncated this element specifies the last part of the list, as well as
          the value to use for the part-number-marker request parameter in a subsequent
          request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Org workspace audit logs
      tags:
      - Orgs
  /org/{org_handle}/workspace/{workspace_handle}/conn:
    get:
      description: List the connections associated with a workspace.
      operationId: orgWorkspaceConnectionAssociation_list
      parameters:
      - description: The handle of an organization for which you want to list the
          associations.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace where you want to list the associations.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: Pagination limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When a list is truncated this element specifies the last part
          of the list, as well as the value to use for the part-number-marker request
          parameter in a subsequent request.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListWorkspaceConnResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: List org workspace connection associations
      tags:
      - OrgWorkspaceConnectionAssociations
    post:
      description: Associate a connection with the workspace. A workspace can have
        multiple association.
      operationId: orgWorkspaceConnectionAssociation_create
      parameters:
      - description: The handle of the organization where we want to create an association.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace where the connection will be associated.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CreateWorkspaceConnRequest'
        description: The request body for the association to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceConn'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Create org workspace connection association
      tags:
      - OrgWorkspaceConnectionAssociations
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}/conn/{conn_handle}:
    delete:
      description: Deletes the workspace association with the connection.
      operationId: orgWorkspaceConnectionAssociation_delete
      parameters:
      - description: The handle of an organization where we want to delete the association.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose association needs to be deleted.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The handle of the conn whose association needs to be deleted.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceConn'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Delete org workspace connection association
      tags:
      - OrgWorkspaceConnectionAssociations
    get:
      description: Get the details for a workspace and connection association on an
        organization.
      operationId: orgWorkspaceConnectionAssociation_get
      parameters:
      - description: The handle of the org for which you want to get the association.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace where the connection exist.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The handle of the conn whose association details needs to be
          fetched.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceConn'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Get org workspace connection association
      tags:
      - OrgWorkspaceConnectionAssociations
  /org/{org_handle}/workspace/{workspace_handle}/logs:
    get:
      description: Returns the workspace logs for an org.
      operationId: orgWorkspace_listDBLogs
      parameters:
      - description: Specify the org handle to get the workspace logs.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose logs needs to be fetched.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.ListLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Org workspace logs
      tags:
      - OrgWorkspaces
  /org/{org_handle}/workspace/{workspace_handle}/query:
    get:
      description: Performs a query in an org workspace. Results are limited to 3000
        rows or 30 seconds of query execution.
      parameters:
      - description: The handle of the org that the workspace belongs to.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace to query.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The sql query to perform against the org workspace.
        explode: true
        in: query
        name: sql
        required: true
        schema:
          type: string
        style: form
      - description: The required content type for the response. Defaults to application/json.
          Supported values are json, application/json, csv, text/csv, md and text/markdown.
        explode: true
        in: query
        name: content_type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/markdown:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Query org workspace
      tags:
      - OrgWorkspaces
    post:
      description: Performs a query in an org workspace. Results are limited to 3000
        rows or 30 seconds of query execution.
      parameters:
      - description: The handle of the org that the workspace belongs to.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace to query.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The required content type for the response. Defaults to application/json.
          Supported values are json, application/json, csv, text/csv, md and text/markdown.
        explode: true
        in: query
        name: content_type
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: string
          text/csv:
            schema:
              type: string
          text/markdown:
            schema:
              type: string
        description: The sql query to perform against the org workspace.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/markdown:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Query org workspace
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: sql
  /org/{org_handle}/workspace/{workspace_handle}/query/data.{extensions}:
    get:
      description: Performs a query in an org workspace, with content type and content
        encoding forming part of the API path. Results are limited to 3000 rows or
        30 seconds of query execution.
      parameters:
      - description: The handle of the org that the workspace belongs to.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace to query.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: 'The content type for the request. E.g. '
        explode: false
        in: path
        name: extensions
        required: true
        schema:
          type: string
        style: simple
      - description: The sql query to perform against the org workspace.
        explode: true
        in: query
        name: sql
        required: true
        schema:
          type: string
        style: form
      - description: The required content type for the response. Defaults to application/json.
          Supported values are json, application/json, csv, text/csv, md and text/markdown.
        explode: true
        in: query
        name: content_type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
            text/markdown:
              schema:
                $ref: '#/components/schemas/types.WorkspaceQueryResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/csv:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
            text/markdown:
              schema:
                $ref: '#/components/schemas/sperr.ErrorModel'
          description: Internal Server Error
      summary: Query org workspace with extensions
      tags:
      - OrgWorkspaces
    post:
      description: Performs a query in an org workspace, with content type and content
        encoding forming part of the API path. Results are limited to 3000 rows or
        30 seconds of query execution.
      parameters:
      - description: The handle of the org that the workspace belongs to.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace to query.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: 'The content type for the request. E.g. '
        explode: false
        in: path
        name: extensions
        required: true
        schema:
          type: string
        style: simple
      - description: The sql query to perform against the org workspace.
        explode: true
        in: query
        name: sql
        required: true
        schema:
          type: string
        style: form
      - description: The required content type for the response. Defaults to application/json.
          Supported values are json, application/json, csv, text/csv, md and text/markdown.
        explode: true
[...]
