openapi: 3.0.1
info:
  contact:
    email: help@steampipe.io
    name: Support
  description: Steampipe Cloud is a hosted version of Steampipe (https://steampipe.io),
    an open source tool to instantly query your cloud services (e.g. AWS, Azure, GCP
    and more) with SQL. No DB required.
  title: Steampipe Cloud
  version: '{{OPEN_API_VERSION}}'
servers:
- url: https://cloud.steampipe.io/api/v0
paths:
  /actor:
    get:
      description: Returns the actor information.
      operationId: actor_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Actor information
      tags:
      - Actors
  /actor/activity:
    get:
      description: List the activity for an actor.
      operationId: actor_listActivity
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor activity
      tags:
      - Actors
  /actor/conn:
    get:
      description: List the connections for an actor.
      operationId: actor_listConnections
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor connections
      tags:
      - Actors
  /actor/org:
    get:
      description: List the orgs and org workspaces for an actor, along with role
        within each.
      operationId: actor_listOrgs
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor orgs
      tags:
      - Actors
  /actor/org/invite:
    get:
      description: List the orgs to which the actor has been invited.
      operationId: actor_listOrgInvites
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org invites for actor
      tags:
      - Actors
  /actor/workspace:
    get:
      description: List the workspaces for an actor.
      operationId: actor_listWorkspaces
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActorWorkspacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List actor workspaces
      tags:
      - Actors
  /auth/{provider}:
    get:
      description: With an authentication provider, users can access Steampipe Cloud
        with single sign-on (SSO) using credentials from a third party. Steampipe
        Cloud currently supports GitHub as an authentication provider.
      operationId: auth_provider
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Auth Provider
      tags:
      - Auth
  /auth/{provider}/callback:
    get:
      description: Auth provider callback.
      operationId: auth_providerCallback
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Auth provider callback
      tags:
      - Auth
  /identity:
    get:
      description: List identities with their public information.
      operationId: identity_list
      parameters:
      - description: Optional free-text search to filter the identities.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdentitiesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List identities
      tags:
      - Identities
  /identity/{identity_handle}:
    get:
      description: Get public information for an identity.
      operationId: identity_get
      parameters:
      - description: Specify the handle of the identity whose information you want
          to retrieve.
        explode: false
        in: path
        name: identity_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get identity
      tags:
      - Identities
  /login:
    post:
      description: User login.
      operationId: auth_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequest'
        description: The request body to login.
        required: true
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: User login
      tags:
      - Auth
      x-codegen-request-body-name: request
  /login/confirm:
    get:
      description: Confirm user login.
      operationId: auth_confirmLogin
      parameters:
      - description: Specify the token.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Confirm user login
      tags:
      - Auth
  /login/token:
    post:
      description: Generate a temporary token request for CLI login.
      operationId: auth_loginToken_create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Generate temporary token request
      tags:
      - Auth
  /login/token/{temporary_token_request_id}:
    delete:
      description: Delete a temporary token request status.
      operationId: auth_loginToken_delete
      parameters:
      - description: The ID of the temporary token request to delete.
        explode: false
        in: path
        name: temporary_token_request_id
        required: true
        schema:
          format: ^spttr_[0-9a-v]{20}_[0-9a-z]{19,}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete temporary token request
      tags:
      - Auth
    get:
      description: Get a temporary token request status with token.
      operationId: auth_loginToken_get
      parameters:
      - description: The ID of the temporary token request to get.
        explode: false
        in: path
        name: temporary_token_request_id
        required: true
        schema:
          format: ^spttr_[0-9a-v]{20}_[0-9a-z]{19,}$
          type: string
        style: simple
      - description: The challenge code to request the temporary token. Will only
          be obtained after confirming the login request in the Steampipe Cloud UI.
        explode: true
        in: query
        name: code
        required: false
        schema:
          format: ^[0-9]{4}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get temporary token request
      tags:
      - Auth
    patch:
      description: Update a temporary token request status.
      operationId: auth_loginToken_update
      parameters:
      - description: The ID of the temporary token request to update.
        explode: false
        in: path
        name: temporary_token_request_id
        required: true
        schema:
          format: ^spttr_[0-9a-v]{20}_[0-9a-z]{19,}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemporaryTokenRequest'
        description: The request body containing updates for the temporary token request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryTokenRequest'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update temporary token request
      tags:
      - Auth
      x-codegen-request-body-name: request
  /logout/{provider}:
    get:
      description: Removes the session that is associated with the user.
      operationId: auth_logout
      parameters:
      - description: The authentication provider.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "307":
          content: {}
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: User logout
      tags:
      - Auth
  /org:
    get:
      description: List all the organizations.
      operationId: org_list
      parameters:
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List orgs
      tags:
      - Orgs
    post:
      description: Creates an organization.
      operationId: org_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgRequest'
        description: The request body to create the organization.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create org
      tags:
      - Orgs
      x-codegen-request-body-name: request
  /org/{org_handle}:
    delete:
      description: Deletes the specified organization if you have the appropriate
        access.
      operationId: org_delete
      parameters:
      - description: Specify the handle of the organization which need to be deleted.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org
      tags:
      - Orgs
    get:
      description: Retrieves the organization information.
      operationId: org_get
      parameters:
      - description: Specify the handle of an organization whose information you want
          to retrieve.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get org
      tags:
      - Orgs
    patch:
      description: Updates the handle name, display name, or the URL of an organization.
      operationId: org_update
      parameters:
      - description: Specify the handle of the organization which need to be updated.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgRequest'
        description: The request body for the organization.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Org'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update org
      tags:
      - Orgs
      x-codegen-request-body-name: request
  /org/{org_handle}/audit_log:
    get:
      description: Returns the audit logs for an org.
      operationId: org_listAuditLogs
      parameters:
      - description: Specify the org handle to get the audit logs.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Org audit logs
      tags:
      - Orgs
  /org/{org_handle}/conn:
    get:
      description: List the connection for an organization.
      operationId: orgConnection_list
      parameters:
      - description: The handle of the organization for which we want to list the
          connections.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org connections
      tags:
      - OrgConnections
    post:
      description: Creates a new connection for an organization. The limit is 10 per
        organization. If you require more than 10, you must contact support to request
        an increase.
      operationId: orgConnection_create
      parameters:
      - description: The handle of the organization where we want to create the connection.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
        description: The request body for the connection to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create org connection
      tags:
      - OrgConnections
      x-codegen-request-body-name: request
  /org/{org_handle}/conn/{conn_handle}:
    delete:
      description: Deletes the connection specified in the request.
      operationId: orgConnection_delete
      parameters:
      - description: The handle of the organization where the connection exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Provide the handle of the connection which needs to be deleted.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org connection
      tags:
      - OrgConnections
    get:
      description: Get the details for a connection.
      operationId: orgConnection_get
      parameters:
      - description: The handle of an organization where the connection exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection whose detail needs to be fetched.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get org connection
      tags:
      - OrgConnections
    patch:
      description: Update the connection in an organization.
      operationId: orgConnection_update
      parameters:
      - description: The handle of the organization where the connection exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection which needs to be updated.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectionRequest'
        description: The request body of the connection which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update org connection
      tags:
      - OrgConnections
      x-codegen-request-body-name: request
  /org/{org_handle}/conn/{conn_handle}/test:
    post:
      description: Test the config for an org connection to check for basic connectivity
        before you create it.
      operationId: orgConnection_test
      parameters:
      - description: The handle of the org performing the action.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the connection to be tested. For connections that
          are not yet created, use underscore `_` as the handle, else pass the handle
          of the existing connection.
        explode: false
        in: path
        name: conn_handle
        required: true
        schema:
          format: ^[a-z][a-z0-9_]{0,37}[a-z0-9]?$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Test org connection
      tags:
      - OrgConnections
  /org/{org_handle}/feature:
    get:
      description: Returns the feature information for an org.
      operationId: org_listFeatures
      parameters:
      - description: Specify the org handle to get the feature details.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeaturesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Org features
      tags:
      - Orgs
  /org/{org_handle}/member:
    get:
      description: List all members of an organization who are invited / accepted.
      operationId: orgMember_list
      parameters:
      - description: Specify the organization handle.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Optional free-text search to filter the org members.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgUsersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List Organization Members
      tags:
      - OrgMembers
  /org/{org_handle}/member/invite:
    delete:
      description: Delete the org member invite.
      operationId: orgMember_deleteInvite
      parameters:
      - description: Specify the organization handle.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the token to be rejected.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org member invite
      tags:
      - OrgMembers
    post:
      description: Invite member to an org.
      operationId: orgMember_invite
      parameters:
      - description: Specify the handle of an organization where the member need to
          be invited.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteOrgUserRequest'
        description: The request body to invite a member to an organization.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUser'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Invite org member
      tags:
      - OrgMembers
      x-codegen-request-body-name: request
  /org/{org_handle}/member/invite/confirm:
    get:
      description: Confirm org member invite.
      operationId: orgMember_confirmInvite
      parameters:
      - description: Specify the handle of an organization where the member need to
          be invited.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the token.
        explode: true
        in: query
        name: t
        required: true
        schema:
          type: string
        style: form
      responses:
        "201":
          content: {}
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Confirm org member invite
      tags:
      - OrgMembers
  /org/{org_handle}/member/{user_handle}:
    delete:
      description: Delete the user from the org.
      operationId: orgMember_delete
      parameters:
      - description: Specify the handle of the organization where the member exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user which need to be removed.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org member
      tags:
      - OrgMembers
    get:
      description: Get org member.
      operationId: orgMember_get
      parameters:
      - description: Specify the organization handle where the member is associated.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user whose information you want to
          retrieve.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get org member
      tags:
      - OrgMembers
    patch:
      description: Update the role of the member.
      operationId: orgMember_update
      parameters:
      - description: Specify the handle of the organization where the member exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Specify the handle of the user whose role need to be updated.
        explode: false
        in: path
        name: user_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgUserRequest'
        description: The request body for the member.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgUser'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update org member
      tags:
      - OrgMembers
      x-codegen-request-body-name: request
  /org/{org_handle}/pipeline:
    get:
      description: List the pipelines for an organization.
      operationId: orgPipeline_list
      parameters:
      - description: The handle of the organization for which we want to list pipelines.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,2}(?:[a-z0-9]{1,2}|-[a-z0-9]
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelinesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org pipelines
      tags:
      - OrgPipelines
    post:
      description: Creates a new pipeline for an organization.
      operationId: orgPipeline_create
      parameters:
      - description: The handle of the organization where we want to create the pipeline.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,2}(?:[a-z0-9]{1,2}|-[a-z0-9]
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineRequest'
        description: The request body for the pipeline to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create org pipeline
      tags:
      - OrgPipelines
      x-codegen-request-body-name: request
  /org/{org_handle}/pipeline/{pipeline_id}:
    delete:
      description: Deletes the pipeline specified in the request of an organization.
      operationId: orgPipeline_delete
      parameters:
      - description: The handle of the organization where the pipeline exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,2}(?:[a-z0-9]{1,2}|-[a-z0-9]
          type: string
        style: simple
      - description: Provide the id of the pipeline which needs to be deleted.
        explode: false
        in: path
        name: pipeline_id
        required: true
        schema:
          format: ^pipe_[0-9a-v]{20}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org pipeline
      tags:
      - OrgPipelines
    get:
      description: Get the details of a pipeline for an organization.
      operationId: orgPipeline_get
      parameters:
      - description: The handle of the organization where the pipeline exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,2}(?:[a-z0-9]{1,2}|-[a-z0-9]
          type: string
        style: simple
      - description: The id of the pipeline whose detail needs to be fetched.
        explode: false
        in: path
        name: pipeline_id
        required: true
        schema:
          format: ^pipe_[0-9a-v]{20}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get org pipeline
      tags:
      - OrgPipelines
    patch:
      description: Updates a pipeline for an organization.
      operationId: orgPipeline_update
      parameters:
      - description: The handle of the organization where the pipeline exists.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,2}(?:[a-z0-9]{1,2}|-[a-z0-9]
          type: string
        style: simple
      - description: The id of the pipeline which needs to be updated.
        explode: false
        in: path
        name: pipeline_id
        required: true
        schema:
          format: ^pipe_[0-9a-v]{20}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePipelineRequest'
        description: The request body for the pipeline which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update org pipeline
      tags:
      - OrgPipelines
      x-codegen-request-body-name: request
  /org/{org_handle}/quota:
    get:
      description: Returns the quota information for an org.
      operationId: org_getQuota
      parameters:
      - description: Specify the org handle to get the quota details.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgQuota'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Org quota
      tags:
      - Orgs
  /org/{org_handle}/workspace:
    get:
      description: List the workspace for an organization.
      operationId: orgWorkspace_list
      parameters:
      - description: The handle of the organization for which we want to list the
          workspace.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org workspaces
      tags:
      - OrgWorkspaces
    post:
      description: Creates a new workspace for an organization. The limit is 10 per
        organization. If you require more than 10, you must contact support to request
        an increase.
      operationId: orgWorkspace_create
      parameters:
      - description: The handle of the organization where we want to create the workspace.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
        description: The request body for the workspace to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Create org workspace
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}:
    delete:
      description: Deletes the workspace specified in the request.
      operationId: orgWorkspace_delete
      parameters:
      - description: The handle of the organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: Provide the handle of the workspace which needs to be deleted.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Delete org workspace
      tags:
      - OrgWorkspaces
    get:
      description: Get the details for a workspace in an organization.
      operationId: orgWorkspace_get
      parameters:
      - description: The handle for an organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose detail needs to be fetched.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Get org workspace
      tags:
      - OrgWorkspaces
    patch:
      description: Update a workspace in an organization.
      operationId: orgWorkspace_update
      parameters:
      - description: The handle of the organization where the workspace exist.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace which needs to be updated.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
        description: The request body of the workspace which needs to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Update org workspace
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}/audit_log:
    get:
      description: Returns the audit logs for an org workspace.
      operationId: orgWorkspace_listAuditLogs
      parameters:
      - description: Specify the org handle to get the audit logs.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace whose logs needs to be fetched.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Org workspace audit logs
      tags:
      - OrgWorkspaces
  /org/{org_handle}/workspace/{workspace_handle}/command:
    post:
      description: 'Run a command in the workspace. Valid commands are: reboot.'
      operationId: orgWorkspace_command
      parameters:
      - description: The handle of the org where we want to run the workspace command.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace where command will be executed.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCommandRequest'
        description: The request body for the workspace command.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceCommandResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Payment Required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: Run org workspace command
      tags:
      - OrgWorkspaces
      x-codegen-request-body-name: request
  /org/{org_handle}/workspace/{workspace_handle}/conn:
    get:
      description: List the connections associated with a workspace.
      operationId: orgWorkspaceConnectionAssociation_list
      parameters:
      - description: The handle of an organization for which you want to list the
          associations.
        explode: false
        in: path
        name: org_handle
        required: true
        schema:
          format: ^[a-z0-9][a-z0-9-]{0,37}[a-z0-9]$
          type: string
        style: simple
      - description: The handle of the workspace where you want to list the associations.
        explode: false
        in: path
        name: workspace_handle
        required: true
        schema:
          format: ^[a-z0-9]{1,23}$
          type: string
        style: simple
      - description: The max number of items to fetch per page of data, subject to
          a min and max of 1 and 100 respectively. If not specified will default to
          25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: When list results are truncated, next_token will be returned,
          which is a cursor to fetch the next page of data. Pass next_token to the
          subsequent list request to fetch the next page of data.
        explode: true
        in: query
        name: next_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceConnResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      summary: List org workspace connection associations
      tags:
      - OrgWorkspaceConnectionAssociations
    post:
      description: Associate a connection with the workspace. A workspace can have
        multiple association.
      operationId: orgWorkspaceConnectionAssociation_create
      parameters:
[...]
